<p id="notice"><%= notice %></p>

<p>
  <strong>Media:</strong>
  <img width="200" src="<%= @medium.media_url %>" />
</p>

<p>
  <strong>Location:</strong>
  <%= @medium.location %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @medium.likes %>
</p>

<%= link_to 'Like', like_medium_path(@medium) %> |
<%= link_to 'Edit', edit_medium_path(@medium) %> |
<%= link_to 'Back', media_path %>
