<p id="notice"><%= notice %></p>

<p>
  <strong>Media url:</strong>
  <%= @medium.media_url %>
</p>

<p>
  <strong>Location:</strong>
  <%= @medium.location %>
</p>

<%= link_to 'Edit', edit_medium_path(@medium) %> |
<%= link_to 'Back', media_path %>
